.logoNetflix{
  width: 30%;
  height: 30%;
}

.cont-logo{
  width: 20%;
}

.cont-saludo h2{
  text-align: center;
  padding-top: 1vw;
}

.sumadorProductos{
  display: flex;
}

.productoEnCarrito{
  display: inline-block;
  width: 20%;
  padding: 2%
}

#text{
  display: none;
}